@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* Start variables */
:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
/* End variables */

/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container .card {
  border-radius: 15px;
  width: 17em;
  padding: 13px;
  background-color: var(--White);
  text-align: center;
}

.container .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.container .card h1 {
  font-size: 1.2rem;
  padding: 15px 5px;
  color: var(--Dark-blue);
}

.container .card p {
  font-size: 0.8rem;
  color: var(--Grayish-blue);
  padding: 0 10px 20px;
}
